<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="blocks/head :: head"></head>

<body>
<main>
    <div th:insert="blocks/header :: header"></div>

    <div class="container">
        <div class="row"><br>

            <div class="col s3 m3 xl3">
                <a href="/recipes" class="waves-effect waves-light btn blue-grey lighten-4">
                    <i class="material-icons">arrow_back</i>
                </a><br><br><br>

                <form action="/newRecipe/add" method="post">
                    <label>Не нашли продукт?</label>
                    <input type="text" name="productName" placeholder="внесите новый"></text>
                    <button type="submit" class="waves-effect waves-light btn blue-grey">
                        <i class="material-icons prefix">add</i>
                    </button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                </form>
                <br><br>
            </div>

            <div class="col s12 s11 s10 m9 m8">
                <form method="post" enctype="multipart/form-data">

                    <input type="text" name="title" placeholder="Новый рецепт: введите название" maxlength="254">

                    <textarea type="text" name="instruction" placeholder="Введите описание"
                              class="materialize-textarea" maxlength="4800"></textarea>

                    <div class="menu-wrap">
                        <ul><h6 class="blue-grey-text text-darken-1">Выбирите категорию:</h6>
                            <li>
                                <a class="btn-small blue-grey lighten-4"><i class="Tiny material-icons prefix">chevron_right</i></a>
                                <ul>
                                    <div class="row">
                                        <li th:each="category : ${categories}" class="col s4">
                                            <a class="btn-flat">
                                                <label>
                                                    <input type="radio" th:id="${category}" name="category"
                                                           th:value="${category}" th:checked="${category}"
                                                           th:text="${category.nameCategory(category)}"
                                                           class="radio"/><span></span>
                                                </label>
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <h6 class="blue-grey-text text-darken-1">Выбирите продукты:</h6>
                            <div th:each="p:${product}" class="col s5 m5 xl5">
                                <label>
                                    <input type="checkbox" th:id="${p.id}" name="productR" th:value="${p.id}"
                                           th:text="${p.productName}"
                                           th:checked="${#lists.contains(product, p) ? false: true}"
                                           class="checkbox"/><span></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <input type="file" name="file"/>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/><br><br>
                    <button type="submit" class="waves-effect waves-light btn blue-grey darken-1">Save</button>
                    <br>
                </form>
            </div>
        </div>
    </div>
</main>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>